h1 {
  color: rgb(55, 55, 57);
  margin: 0 auto;
 max-height:;
}
.css-1f8sh1y {
  /* background-color: pink; */
  background-image: url("imageedit_1_5333201695.png");
  text-align: center;
}
.MuiPaper-elevation1 {
  height: 400px;
  width: auto;
  margin-top: 100px;

}

/* .css-1m9128y {
  margin-top: 20px;
} */

.css-ohwg9z{
  max-width: 100% !important;
  max-height: 100% !important;
}
.imgbox{
  border-radius: 10px;
}

